<h2>Welcome to MaxyActions!</h2>
<div class="text">
  Actually, that's a simple web-service, which can help you to track your Campaign checking progress. So you don't need
  to keep in mind which amount of work is left to do. Let MaxyActions do it for you!
</div>

<div class="features">
  <h4>Main features are:</h4>

  <div class="text">1. Quick and simple creating of Campaign's Actions and Elements tables, where all
    necessary information about Actions, Elements and Browser Rules stored. Also, there is a
    <b>visualization of your Checking progress</b>, so there is no chance, that you
    will miss or forget to track something:
    <%= image_tag 'TrackProgress.png', :class => "img-polaroid image" %>
    2. It's great, that you can easily <b>export your generated tables to XLS file</b>, and add it to your QA
    Report really quick:
    <%= image_tag 'exportToXls.png', :class => "img-polaroid image" %>
    Enough talking! Lets see how MaxyActions will simplify your life!
    :) <%= link_to content_tag(:div, 'Get Started!'), campaigns_path, :class => 'btn btn-link getStarted' %>
  </div>
</div>