<%= form_for @browser, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="notice">Please notice, that used categories for browsers are: <b>Windows</b>, <b>Mac</b>, <b>iOS</b>,
      <b>Android</b>, <b>Windows
      Phone</b>.
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  browsers_path, :class => 'btn' %>
    </div>

<% end %>
