<div class="action">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title priority"><%= action.priority %>:</h5>
      <%= image_tag 'Close-icon.png', :class => 'iconClose' %>
    </div>

    <div class="panel-body">
      <%= f.text_field :priority, :class => 'actionName priorityInput', :placeholder => 'Priority…', :type => 'hidden' %>
      <%= f.text_field :name, :class => 'actionName Spec', :placeholder => 'Specification name…' %>
      <%= f.text_field :ui_name, :class => 'actionName', :placeholder => 'UI name…' %>
      <%= f.fields_for :m_attributes do |builder| %>
          <%= render 'campaigns/attribute', :f => builder %>
      <% end %>
      <%= link_to_add_attribute 'Add Attribute', f, :class => 'addAttr' %>
    </div>
  </div>
  <%= f.hidden_field :_destroy, :class => 'destroy' %>
</div>
