<% Browser.where(:category => cat_name).each do |browser| %>
    <%= check_box_tag('campaign[checked_browsers][]', browser.id, @campaign.browsers.include?(browser), id: 'browser_' + browser.id.to_s) %>
    <%= label_tag('campaigns[checked_browsers][]', browser.name, class: 'labelsCheckBoxesBrows', for: 'browser_' + browser.id.to_s) %>
<% end %>


