<div class="editButtons">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              campaigns_path, :class => 'btn' %>

  <% if can? :edit, @campaign %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_campaign_path(@campaign), :class => 'btn' %>
  <% else %>
      <div class="btn disabled">Edit</div>
  <% end %>

  <% if can? :delete, @campaign %>
      <%= link_to (content_tag(:span, 'Delete', :class => 'desktop') + content_tag(:span, 'Del', :class => 'mobile')),
                  campaign_path(@campaign), :class => 'btn btn-danger delete' %>
  <% else %>
      <span class="btn btn-danger desktop delete disabled">Delete</span>
      <span class="btn btn-danger mobile delete disabled">Del</span>
  <% end %>
  <%= link_to (content_tag(:span, 'Export to XLS', :class => 'desktop') + content_tag(:span, 'to XLS', :class => 'mobile')), campaign_path(@campaign, format: "xls"), :class => 'btn btn-success xls', :id => 'xls' %>
</div>