<div class="element">
  <div class="panel panel-default">
    <div class="panel-heading e_panel-heading">
      <%= f.text_field :name, :class => 'elemName', :placeholder => 'Element name…' %>
      <%= image_tag 'Close-icon.png', :class => 'iconCloseEl' %>
    </div>

    <div class="panel-body">
      <%= f.fields_for :e_variants do |builder| %>
          <%= render 'campaigns/variant', :f => builder %>
      <% end %>
      <%= link_to_add_variant 'Add Variant', f, :class => 'addVar' %>
  </div>
  </div>
      <%= f.hidden_field :_destroy, :class => 'destroy' %>
</div>
