<%= form_for @campaign, :html => {:class => 'centrMarg'} do |f| %>
    <h3>Set Campaign name:</h3>
    <%= f.text_field :name, :class => 'inputForName', :placeholder => 'Campaign name…' %>
    <ul class="nav nav-tabs">
      <li id="actTab" class="active"><a class="actTab">Actions Tab</a></li>
      <li id="elemTab"><a class="elemTab">Elements Tab</a></li>
    </ul>

    <div class="tabActions">
      <h3>Set Actions data:</h3>

      <div class="actions">
        <% @campaign.actions.each do |action| %>
            <%= f.fields_for :actions, action do |builder| %>
                <%= render 'action', :f => builder, action: action %>
            <% end %>
        <% end %>
      </div>
      <%= link_to_add_action 'Add Action', f, :class => 'btn margTop' %>

    </div>

    <div class="tabElements hidden">
      <h3>Set Elements data:</h3>

      <div class="elements">
        <% @campaign.elements.each do |element| %>
            <%= f.fields_for :elements, element do |builder| %>
                <%= render 'element', :f => builder, element: element %>
            <% end %>
        <% end %>
      </div>
      <%= link_to_add_element 'Add Element', f, :class => 'btn margTop' %>
    </div>

    <h3>Set Browser rules:</h3>
    <h4>Windows:</h4>
    <%= render 'browser', :cat_name => 'Windows' %>
    <h4>Mac:</h4>
    <%= render 'browser', :cat_name => 'Mac' %>
    <label class='checkbox block' id='mobPlat'>
      <input type='checkbox'><h5>Are mobile platforms required?</h5>
    </label>

    <div id='mobPlatforms' style="display:none">
      <h4>iOS:</h4>
      <%= render 'browser', :cat_name => 'iOS' %>
      <h4>Android:</h4>
      <%= render 'browser', :cat_name => 'Android' %>
      <h4>Windows Phone:</h4>
      <%= render 'browser', :cat_name => 'Windows Phone' %>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  campaigns_path, :class => 'btn' %>
    </div>
<% end %>
