<ul class="nav nav-tabs">
  <li id="actTab" class="active tab act"><a class="actTab">Actions Tab</a></li>
  <li id="elemTab" class="tab el"><a class="elemTab">Elements Tab</a></li>
</ul>
<div class="tabActions">
  <h4>Your actions testing progress is:</h4>

  <div class="status-table">
    <div class="progress">
      <div id="barActions" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="sr-onlyAction"> 0 Complete</span>
      </div>
    </div>
    <div>
      <span class="designationText">Choose designation for action:</span>

      <div class="btn-wrapper">
        <button type="button" class="btn clickedAct designation dsg-checked" value="+">+</button>
        <button type="button" class="btn btn-default designation" value="-">-</button>
        <button type="button" class="btn btn-default designation" value="*">*</button>
        <button type="button" class="btn btn-default designation" value="~">~</button>
        <button type="button" class="btn btn-default designation erase" value="">&nbsp</button>
        <button type="button" class="btn btn-default markAll" value=""><span>Mark all</span></button>
        <%= image_tag 'tooltip.png', class: 'tooltipIcon', rel: 'tooltip', title: 'Choose value and click on the cell to fill it with this value. Click "Mark all" button to fill in all cells with chosen value.' %>
      </div>
    </div>

    <table class='actTable' border="1">
      <thead>
      <tr class='actTable'>
        <th class="white">Action</th>
        <% @campaign.actions.each do |action| %>
            <%= content_tag :th, action.priority, colspan: action.m_attributes.size, class: 'actPriority' %>
        <% end %>
      </tr>
      <tr class='actTable'>
        <th class="actName">UI Name</th>
        <% @campaign.actions.each do |action| %>
            <%= content_tag :th, action.ui_name, colspan: action.m_attributes.size, class: 'actName' %>
        <% end %>
      </tr>
      <tr class='actTable'>
        <th class="actName">Spec Name</th>
        <% @campaign.actions.each do |action| %>
            <%= content_tag :th, action.name, colspan: action.m_attributes.size, class: 'actName' %>
        <% end %>
      </tr>
      <tr class='actTable'>
        <th class="attrName">Attribute</th>
        <% @campaign.actions.each do |action| %>
            <% action.m_attributes.each do |attribute| %>
                <%= content_tag :th, attribute.name, class: 'attrName' %>
            <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @browsers.each do |browser| %>
          <tr>
            <%= content_tag :td, browser.name + ' (' + browser.category + ')', class: 'browsNameAct' %>

            <% @campaign.actions.each do |action| %>
                <% action.m_attributes.each do |attr| %>
                    <td class="white" align="center">
                      <%= text_field_tag "actS_#{attr.id.to_s}_#{browser.id.to_s}", nil, class: 'stat', :data => {checked: 0} %>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="tabElements hidden">
  <h4>Your elements testing progress is:</h4>

  <div class="status-table">
    <div class="progress">
      <div id="barElements" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="sr-onlyElement"> 0 Complete</span>
      </div>
    </div>
    <div>
      <span class="designationText">Choose designation for element:</span>

      <div class="btn-wrapper">
        <button type="button" class="btn clickedAct designation dsg-checked" value="+">+</button>
        <button type="button" class="btn btn-default designation" value="-">-</button>
        <button type="button" class="btn btn-default designation" value="*">*</button>
        <button type="button" class="btn btn-default designation" value="~">~</button>
        <button type="button" class="btn btn-default designation erase" value="">&nbsp</button>
        <button type="button" class="btn btn-default markAll" value=""><span>Mark all</span></button>
        <%= image_tag 'tooltip.png', class: 'tooltipIcon', rel: 'tooltip', title: 'Choose value and click on the cell to fill it with this value. Click "Mark all" button to fill in all cells with chosen value.' %>
      </div>
    </div>
    <table class='elemTable' border="1">
      <thead>
      <tr class='elemTable'>
        <th class="white">Element</th>
        <% @campaign.elements.each do |element| %>
            <%= content_tag :th, element.name, colspan: element.e_variants.size, class: 'browsNameElem' %>
        <% end %>
      </tr>
      <tr class='elemTable'>
        <th class="white">UI variant name</th>
        <% @campaign.elements.each do |element| %>
            <% element.e_variants.each do |variant| %>
                <%= content_tag :th, variant.name, class: 'white' %>
            <% end %>
        <% end %>
      </tr>
      <tr class='elemTable'>
        <th class="variantName">Spec Name</th>
        <% @campaign.elements.each do |element| %>
            <% element.e_variants.each do |variant| %>
                <%= content_tag :th, variant.name, class: 'variantName' %>
            <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @browsers.each do |browser| %>
          <tr>
            <%= content_tag :td, browser.name + ' (' + browser.category + ')', class: 'browsNameElem' %>

            <% @campaign.elements.each do |element| %>
                <% element.e_variants.each do |e_var| %>
                    <td class="white" align="center">
                      <%= text_field_tag "elemS_#{e_var.id.to_s}_#{browser.id.to_s}", nil, class: 'stat', :data => {checked: 0} %>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'edit_buttons' %>