<%- model_class = Campaign -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:owner_id) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign_path(campaign) %></td>
        <td><%= l campaign.created_at %></td>
        <th><%= campaign.owner.email %></th>
        <td>
          <% if can? :edit, campaign %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_campaign_path(campaign), :class => 'btn btn-mini' %>
          <% else %>
              <div class="btn btn-mini disabled">Edit</div>
          <% end %>
          <% if can? :delete, campaign %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          campaign_path(campaign),
                          :method => :delete,
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-mini btn-danger' %>
          <% else %>
              <div class="btn btn-mini btn-danger disabled">Delete</div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_campaign_path,
            :class => 'btn btn-primary' %>
