<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="1">
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Font ss:Bold="1" ss:Color="black"/>
      <ss:Borders>
        <ss:Border ss:Position="Left" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Right" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Top" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
      </ss:Borders>
    </ss:Style>
    <ss:Style ss:ID="2">
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Font ss:Bold="1" ss:Color="white"/>
      <ss:Interior ss:Color="#c00000" ss:Pattern="Solid"/>
      <ss:Borders>
        <ss:Border ss:Position="Left" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Right" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Top" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
      </ss:Borders>
    </ss:Style>
    <ss:Style ss:ID="3">
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Font ss:Bold="1" ss:Color="black"/>
      <ss:Interior ss:Color="#d9d9d9" ss:Pattern="Solid"/>
      <!--<ss:Interior ss:Color="#800080" ss:Pattern="Solid"/>-->
      <ss:Borders>
        <ss:Border ss:Position="Left" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Right" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Top" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
      </ss:Borders>
    </ss:Style>
    <ss:Style ss:ID="4">
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Font ss:Bold="1" ss:Color="black"/>
      <ss:Interior ss:Color="#ded9c5" ss:Pattern="Solid"/>
      <ss:Borders>
        <ss:Border ss:Position="Left" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Right" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Top" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
      </ss:Borders>
    </ss:Style>
    <ss:Style ss:ID="5">
      <ss:Font ss:Bold="1" ss:Color="white"/>
      <ss:Interior ss:Color="#c00000" ss:Pattern="Solid"/>
      <ss:Borders>
        <ss:Border ss:Position="Left" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Right" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Top" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
        <ss:Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Color='black' ss:Weight="1"/>
      </ss:Borders>
    </ss:Style>
  </ss:Styles>
  <Worksheet ss:Name="Actions tracking">
    <Table>
      <ss:Column ss:Width="160"/>
      <Row>
        <Cell ss:StyleID="1">
          <Data ss:Type="String">Actions</Data>
        </Cell>

        <% @campaign.actions.each do |action| %>
            <%= content_tag :Cell, 'ss:StyleID' => 2, 'ss:MergeAcross' => (action.m_attributes.size - 1).to_s do %>
                <Data ss:Type="String"><%= action.priority %></Data>
            <% end %>
      <% end %>
      </Row>
      <Row>
        <Cell ss:StyleID="3">
        <Data ss:Type="String">UI Name</Data>
        </Cell>

        <% @campaign.actions.each do |action| %>
            <%= content_tag :Cell, 'ss:StyleID' => 3, 'ss:MergeAcross' => (action.m_attributes.size - 1).to_s do %>
      <Data ss:Type="String"><%= action.ui_name %></Data>
            <% end %>
        <% end %>
      </Row>
      <Row>
        <Cell ss:StyleID="3">
          <Data ss:Type="String">Spec Name</Data>
        </Cell>
        <% @campaign.actions.each do |action| %>
            <%= content_tag :Cell, 'ss:StyleID' => 3, 'ss:MergeAcross' => (action.m_attributes.size - 1).to_s do %>
                <Data ss:Type="String"><%= action.ui_name %></Data>
            <% end %>
        <% end %>
      </Row>
      <Row>
        <Cell ss:StyleID="4">
          <Data ss:Type="String">Attribute</Data>
        </Cell>
        <% @campaign.actions.each do |action| %>
            <% action.m_attributes.each do |attribute| %>
                <Cell ss:StyleID="4">
                  <Data ss:Type="String"><%= attribute.name %></Data>
                </Cell>
            <% end %>
        <% end %>
      </Row>
      <% statuses = JSON.parse @campaign.statuses_json %>

      <% @browsers.each do |browser| %>
          <Row>
            <Cell ss:StyleID="5">
              <Data ss:Type="String"> <%= browser.name + ' (' + browser.category + ')' %> </Data>
            </Cell>
            <% @campaign.actions.each do |action| %>
                <% action.m_attributes.each do |attr| %>
                    <Cell ss:StyleID="1">
                      <Data ss:Type="String"> <%= statuses.fetch('actions', {}).fetch(attr.id.to_s, {}).fetch(browser.id.to_s, '') %> </Data>
                    </Cell>
                <% end %>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Variants' performance">
    <Table>
      <ss:Column ss:Width="160"/>
      <Row>
        <Cell ss:StyleID="1">
        <Data ss:Type="String">Elements</Data>
        </Cell>

        <% @campaign.elements.each do |element| %>
            <%= content_tag :Cell, 'ss:StyleID' => 2, 'ss:MergeAcross' => (element.e_variants.size - 1).to_s do %>
                <Data ss:Type="String"><%= element.name %></Data>
            <% end %>
        <% end %>
      </Row>

      <Row>
        <Cell ss:StyleID="1">
          <Data ss:Type="String">UI variant name</Data>
        </Cell>

        <% @campaign.elements.each do |element| %>
            <% element.e_variants.each do |variant| %>
                <Cell ss:StyleID="1">
                  <Data ss:Type="String"><%= variant.name %></Data>
                </Cell>
            <% end %>
        <% end %>
      </Row>
      <Row>
        <Cell ss:StyleID="3">
          <Data ss:Type="String">Spec Name</Data>
        </Cell>
        <% @campaign.elements.each do |element| %>
            <% element.e_variants.each do |variant| %>
                <Cell ss:StyleID="3">
                  <Data ss:Type="String"><%= variant.name %></Data>
                </Cell>
            <% end %>
        <% end %>
      </Row>
      <% statuses = JSON.parse @campaign.statuses_json %>

      <% @browsers.each do |browser| %>
          <Row>
            <Cell ss:StyleID='5'>
              <Data ss:Type="String"> <%= browser.name + ' (' + browser.category + ')' %> </Data>
            </Cell>
            <% @campaign.elements.each do |element| %>
                <% element.e_variants.each do |variant| %>
                    <Cell ss:StyleID="1">
                      <Data ss:Type="String"> <%= statuses.fetch('elements', {}).fetch(variant.id.to_s, {}).fetch(browser.id.to_s, '') %> </Data>
                    </Cell>
                <% end %>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>