<table border="1" style="color: white; ">
  <thead>
  <tr style="color: white;">
    <th style="background: white; color: black">Action</th>
    <% @campaign.actions.each do |action| %>
        <%= content_tag :th, action.priority, colspan: action.m_attributes.size, style: 'background: #c00000; color: white;' %>
    <% end %>
  </tr>
  <tr style="color: white;">
    <th class="actName" style="background: #d9d9d9; color: black">UI Name</th>
    <% @campaign.actions.each do |action| %>
        <%= content_tag :th, action.ui_name, colspan: action.m_attributes.size, style: "background: #d9d9d9; color: black" %>
    <% end %>
  </tr>
  <tr style="color: white;">
    <th class="actName" style="background: #d9d9d9; color: black">Spec Name</th>
    <% @campaign.actions.each do |action| %>
        <%= content_tag :th, action.name, colspan: action.m_attributes.size, style: "background: #d9d9d9; color: black" %>
    <% end %>
  </tr>
  <tr style="color: white;">
    <th style="background: #ded9c5; color: black">Attribute</th>
    <% @campaign.actions.each do |action| %>
        <% action.m_attributes.each do |attribute| %>
            <%= content_tag :th, attribute.name, style: 'background: #ded9c5; color: black;' %>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% statuses = JSON.parse @campaign.statuses_json %>
  <% @browsers.each do |browser| %>
      <tr>
        <%= content_tag :td, browser.name + ' (' + browser.category + ')', style: 'background: #c00000; color: white;' %>

        <% @campaign.actions.each do |action| %>
            <% action.m_attributes.each do |attr| %>
                <td align="center" style="background: white; color: black;">
                  <%= statuses.fetch('actions', {}).fetch(attr.id.to_s, {}).fetch(browser.id.to_s, '') %>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>