<div class="page-header">
  <h2><%= @campaign.name.capitalize %></h2>
</div>
<div id="campaign_id" class="hidden"><%= @campaign.id %></div>
<div id="statuses_json" class="hidden"><%= @campaign.statuses_json %></div>

<%= render 'table' %>

