// Place all the styles related to the Browsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice {
  float: right;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .notice {
    margin-bottom: 15px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .notice {
    margin-bottom: 15px;
  }
}

@media (max-width: 520px) {
  .notice {
    margin-bottom: 10px;
  }
}