// Place all the styles related to the Browsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Large desktop */
@media (min-width: 979px) {
  .mobile {
    display: none;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .mobile {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .mobile {
    display: none;
  }

  button.markAll {
    width: 40px;
    background-image: image_url('checkAll.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover, &:focus, &:active {
      background-position: center;
    }

    span {
      display: none;
    }
  }
}

@media (max-width: 520px) {

  button.markAll {
    width: 40px;
    background-image: image_url('checkAll.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover, &:focus, &:active {
      background-position: center;
    }

    span {
      display: none;
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
  }

}

.actionName {
  display: block !important;
}

.inlineBlock {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.addAttr {
  padding-bottom: 5px;
  display: block;
}

.margTop {
  margin-top: 10px;
}

.noMargin {
  margin: 0px;
}

.inputForName {
  display: block !important;
}

.maxyLogo {
  float: left;
  width: 40px;
  margin: 5px;
}

.labelsCheckBoxesBrows {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: text-top;
  margin-right: 5px;
}

.iconClose {
  float: right;
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  margin-top: 9px;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.iconCloseEl {
  float: right;
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  margin-top: 4px;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

div.action:hover .iconClose, div.element:hover .iconCloseEl {
  opacity: 0.7;
}

.priority {
  display: inline-block;
}

.panel {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 0px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.e_panel-heading {
  padding: 10px 15px 0px;
}

TABLE.actTable, TABLE.elemTable {
  border-color: black;
  font-size: 12px;
  width: 300px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background: #778899;
  color: white;
  white-space: nowrap;
}

TD.actTable, TD.elemTable, TH.actTable, TH.elemTable {
  text-align: center;
  padding: 3px;
  border-right: 1px solid black;
}

TH.actTable, TH.elemTable {
  color: white;
  border-bottom: 1px solid black;
}

.white {
  background: white;
  color: black;
  border-bottom: 1px solid black;
}

.actPriority, .browsNameAct, .browsNameElem {
  background: #c00000;
  color: white;
  border-bottom: 1px solid black;
  padding: 4px;
}

.actName, .variantName {
  background: #d9d9d9;
  color: black;
}

.attrName {
  background: #ded9c5;
  color: black;
}

select {
  margin-bottom: 0 !important;
  width: 50px;
  height: 20px;
}

.progress {
  overflow: hidden;
  height: 18px;
  margin-bottom: 18px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  /*background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);*/
  background-image: -webkit-linear-gradient(top, whitesmoke, #d9d9d9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progress-bar {
  width: 0%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar-green {
  width: 0%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.editButtons {
  border-top: 1px solid #eeeeee;
  margin-top: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
}

.page-header {
  margin: 20px 0 20px;
}

.hidden {
  display: none;
}

.elemTab {
  cursor: pointer;
}

.actTab {
  cursor: pointer;
}

input.stat, input.elemStat {
  width: 50px;
  border: none;
  box-shadow: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

input.stat:focus, input.elemStat:focus {
  border: none;
  box-shadow: none;
}

.designation, .markAll {
  width: 40px;
  height: 35px;
  text-align: center;
  margin: 6px 0px 8px 0px;
  font-size: 18px;
}

.markAll {
  width: 80px;
  height: 35px;
  text-align: center;
  margin: 6px 0px 8px 0px;
  font-size: 14px;
}

.designation:focus, .markAll:focus {
  outline: none;
}

span.designationText {
  margin-right: 5px;
}

.tooltipIcon {
  margin-top: -3px;
  cursor: pointer;
}

.erase {
  background: image_url('eraser_sprite.png') no-repeat;
  background-size: 42px Auto;

  background-position: 0px -5px;
  padding-right: 20px;
  margin: 6px 0px 8px 0px;
  width: 40px;
  height: 35px;
}

.dsg-checked {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background-image: none;

  &:hover {
    background-size: 42px Auto;
    background-position-y: -44px;
    background-position-x: -4px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  &:hover, &:focus, &:active {
    color: #fff;
    background-color: #51a351;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }

  &.erase {
    background: image_url('eraser_sprite_sucess.png') no-repeat;
    background-size: 42px Auto;
    background-position: -4px -44px;

    width: 40px;
    height: 35px;

    &:hover, &:focus, &:active {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
  }

}

.erase:hover {
  background-size: 42px Auto;
  background-position: -4px -44px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.erase:focus {
  background-size: 42px Auto;
  background-position: -4px -44px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-wrapper {
  display: inline-block;
}


